{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block page_title %}Delete Account{% endblock page_title %}
{% block extra_css %}
<link type="text/css" rel="stylesheet/less" href="{% static " less/utils.less" %}" />
<link type="text/css" rel="stylesheet/less" href="{% static " less/setup.less" %}" />
{% endblock extra_css %}

{% block content %}
{% include "global_nav.html" %}
<section style='display: flex;justify-content: center; padding-top: 20px;'>
    <div class="setting card" style="width: 75%;">
        <div class="card-content">
            <div class="step-title">
                <div class="section">
                    <div class="title-lato center">
                        Account Deletion Confirmation
                    </div>
                </div>
                <div class="accent-line"></div>
                <form style="padding-top: 10px;" method="POST">
                    {% csrf_token %}
                    <p>{% trans "Are you sure you want to delete your account" %}{{ user }}?</p>
                    <button type="submit" class="btn btn-danger">{% trans "Delete" %}</button>
                </form>
                <br><p>{% trans "No keep my account" %}</p>
                <a href="/" class="btn btn-outline-primary">{% trans "Return to site" %}</a>
            </div>
        </div>
    </div>
</section>
</body>
{% endblock content %}

